.home-image {
    margin-top: 2vw;
}

body {
    background-color: #172141;
}

header {
    background-color: #172141;
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
}

.logo {
    /* margin: 0rem 2rem 0rem 2rem; */
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 0;
}

.logo-img {
    width: 3rem;
    height: 3rem;
}

.notification {
    position: absolute;
    left: 10rem;
    top: 1rem;
    color: #fff;
}

.nav .nav-icon a {
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    margin: 2rem;
}

.user_img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 1.6rem;
    margin-left: 2rem;
}

.nav .nav-icon a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.1rem;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: whitesmoke;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav .nav-icon a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.user_img1 {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
}

.sub-menu-wrap {
    position: absolute;
    top: 59%;
    right: 1.4rem;
    max-height: 0px;
    border-radius: 13%;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: rgb(20, 118, 246);
    padding: 1rem;
    margin: 0.4rem;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
    margin: 0.4rem;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 5px 0 0 0;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f8f3f3;
    margin: .4rem 0;
}

.sub-menu-link p {
    width: 100%;
    font-weight: 500;
    font-size: 0.7rem;
}

.sub-menu-link .icon {
    width: 2.4rem;
    height: 2rem;
    background: #0b0202aa;
    border-radius: 60%;
    padding: .5rem;
    margin: 0 0.4rem .1rem -0.5rem;
}

.sub-menu-link .arrow {
    font-size: 1rem;
    transition: transform 0.5s;
}

.sub-menu-link:hover .arrow {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.523);
}

.user_input_img {
    position: absolute;
    bottom: -0.5rem;
    outline: none;
    color: transparent;
    box-sizing: border-box;
    padding: 0.2rem 0 0.5rem 2.75rem;
    cursor: pointer;
    width: 100%;
    transition: 1s;
    background: rgb(20, 118, 246);
    opacity: 0;
}

.profile_img {
    background: url(profile-img/amit.jpg);
    align-items: center;
    top: 100%;
    height: 7rem;
    width: 7rem;
    position: relative;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    background-size: 100% 100%;
    margin: 2rem auto;
}

.input_img {
    position: absolute;
    bottom: -0.3rem;
    outline: none;
    color: transparent;
    box-sizing: border-box;
    padding: 0.2rem 0 0.5rem 2.8rem;
    cursor: pointer;
    width: 100%;
    transition: 1s;
    background: rgba(20, 118, 246, 0.373);
    opacity: 0;
}

.input_img::-webkit-file-upload-button {
    visibility: hidden;
}

.input_img::before {
    content: url(camraicon.png);
    display: inline-block;
    -webkit-user-select: none;
}

.input_img::after {
    display: block;
}

.input_img:hover {
    opacity: 1;
}

.ministry {
    width: 20%;
}

.ministry-container {
    position: relative;
}


/* Reset some default styles */
body,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style the header */
.header1 {
    display: none;
    /* Add this for positioning */
}

/* Style the navigation menu */
.home-ul {
    display: flex;
    flex-direction: column;
    /* Display vertically on smaller screens */
    position: absolute;
    top: 47px;
    left: 0px;
    background-color: #ffffff;
    padding: 20px;
    /* Add some padding for spacing */
    z-index: 1;
}

.home-li {
    margin-bottom: 18px;
    /* Add spacing between menu items */
}

.home-li:hover {
    background-color: white;
}

.home-ul:hover {
    background-color: #406dff;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;

}

.button-1 {
    position: absolute;

}




/* Style the menu icon */
.menu-icon {
    display: none;
    /* Hide by default on larger screens */
    flex-direction: column;
    cursor: pointer;

}

.bar {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 3px 0;
}

.home-image {

    width: 80vw;

}

/* .home-image-container {
    position: relative;
    margin-top: -16%;
    margin-left: 15%;
} */

.home-image-container {
    width: 50%; /* Adjust the width of the container as needed */
    margin: 0 auto; /* Center the container horizontally */
    text-align: right; /* Align content to the right within the container */
    position: relative; /* Ensure positioning is relative for absolute positioning */
}

.home-image-container img {
    max-width: 50%; /* Ensure the image doesn't exceed the container width */
    display: block; /* Make the image a block element */
    position: absolute; /* Position the image absolutely */
    right: 0; /* Align the image to the right */
    top: 50%; /* Align vertically to the center */
    transform: translateY(-10%); /* Center vertically */
    transform: translateX(60%);
}

@media screen and (min-width: 601px) {
    @media screen and (max-width: 850px) {
        .nav1 {
            background-color: transparent;
            /* Bakground color of the navbar */
            color: white;
            /* Text color of the links */
            padding: 10px;
            margin-top: -8%;
            margin-bottom: 7%;
        }
        

        .navbar {

            margin-right: 2%;
            display: flex;
            justify-content: flex-end
                /* Align items to the right */

        }

        .nav-ul1 {
            list-style-type: none;
            margin: 0;
            padding: 10px;
        }

        .nav-li1 {
            margin-left: -4%;
            /* Adjust the spacing between menu items */
            margin-right: 4%;
            display: inline-block;
            padding: 10px;
        }

        .nav-a {
            text-decoration: none;
            color: white;
            padding: 12px;
        }

        .nav-a:hover {
            background-color: #555;
        }

    }
}

@media screen and (min-width: 851px) {
    @media screen and (max-width: 1200px) {
        .nav1 {
            background-color: transparent;
            /* Bakground color of the navbar */
            color: white;
            /* Text color of the links */
            padding: 10px;
            margin-top: -8%;
            margin-bottom: 7%;


        }

        .navbar {

            margin-right: 2%;
            display: flex;
            justify-content: flex-end
                /* Align items to the right */

        }

        .nav-ul1 {
            list-style-type: none;
            margin: 0;
            padding: 10px;
        }

        .nav-li1 {
            margin-left: -4%;
            /* Adjust the spacing between menu items */
            margin-right: 4%;
            display: inline-block;
            padding: 10px;
        }

        .nav-a {
            text-decoration: none;
            color: white;
            padding: 12px;
        }

        .nav-a:hover {
            background-color: #555;
        }

    }
}


@media screen and (min-width: 1201px) {

    .nav1 {
        background-color: transparent;
        /* Bakground color of the navbar */
        color: white;
        /* Text color of the links */
        padding: 10px;
        margin-top: -10%;
        margin-bottom: 6%;


    }

    .navbar {

        margin-right: 2%;
        display: flex;
        justify-content: flex-end
            /* Align items to the right */

    }

    .nav-ul1 {
        list-style-type: none;
        margin: 0;
        padding: 10px;
    }

    .nav-li1 {
        margin-left: -6%;
        /* Adjust the spacing between menu items */
        margin-right: 4%;
        display: inline-block;
        padding: 10px;
        padding-left: 40px;

    }

    .nav-a {
        text-decoration: none;
        color: white;
        padding: 12px;
        font-size: 25px;
    }

    .nav-a:hover {
        background-color: #555;
    }

}




@media screen and (min-width : 501px) {

    .smart {
        position: absolute;
        color: rgb(255, 255, 255);
        margin: 1%;
        margin-left: 9%;
        line-height: 1.5;
        width: 40%;
    }

    .smart-para {
        margin-top: 40px;
        position: absolute;
        color: white;
        line-height: 1.3;
        font-size: 18px;
        width: 100%;
    }

    .smart-sub {
        font-size: 44px;
        font-weight: 900;
        font-family: Sans-serif;


    }



}



/* Media query to show/hide menu icon and adjust menu layout */
@media screen and (max-width: 670px) {
    @media screen and (min-width: 370px) {
        .menu-icon {
            display: flex;
            /* Show on smaller screens */
        }

        nav {
            display: none;
            /* Hide the navigation menu by default on smaller screens */
        }

        nav.show {
            display: flex;
            /* Show the navigation menu when the icon is clicked */
        }

        .header1 {
            background-color: #ffffff;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            position: relative;
            /* Add this for positioning */
        }

        .home-image-container {
            position: relative;
            margin-top: -10%;
            margin-left: 10%;
        }

        .home-image {
            position: fixed;
            margin-top: -13%;
            margin-left: -60%;
            width: 110%;
        }

        .smart {
            position: absolute;
            color: rgb(255, 255, 255);
            margin: 1%;
            margin-left: 45%;
            line-height: 1.5;
            width: 40%;
        }

        .smart-para {
            margin-top: 40px;
            position: absolute;
            color: white;
            line-height: 1.3;
            font-size: 14px;
            width: 100%;
        }

        .smart-sub {
            font-size: 30px;
            font-weight: 900;
            font-family: Sans-serif;


        }

        .but-1 {
            margin-top: 50vh;
            margin-left: 49%;
            margin-bottom: 50px;
            background-color: white;
            color: #172141;
            padding: 3% 11% 3% 11%;
            border-radius: 60px;
            font-weight: bolder;
            transition: background-color 0.3s ease;
        }

        .but-1:hover {
            background-color: #406dff;
            color: white;
        }

    }
}

@media screen and (max-width: 370px) {
    .home-image {
        margin-top: 80%;
        margin-left: -60%;
        width: 150%;
    }

    .menu-icon {
        display: flex;
        /* Show on smaller screens */
    }

    nav {
        display: none;
        /* Hide the navigation menu by default on smaller screens */
    }

    nav.show {
        display: flex;
        /* Show the navigation menu when the icon is clicked */
    }

    .header1 {
        background-color: #ffffff;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: relative;
        /* Add this for positioning */
    }

    .home-image-container {
        position: relative;
        margin-top: -10%;
        margin-left: 10%;
    }


    .smart {
        position: absolute;
        color: white;
        margin: 5%;
        margin-left: 55%;
        font-size: 14px;
    }




}

@media screen and (min-width:670px) {
    .but-1 {
        position: absolute;
        margin-top: 450px;
        margin-bottom: 50px;
        margin-left: 10%;
        background-color: white;
        color: #172141;
        padding: 13px 60px 13px 60px;
        border-radius: 60px;
        font-weight: bolder;
        transition: background-color 0.3s ease;
    }

    .but-1:hover {
        background-color: #406dff;
        color: white;
    }
}